*.bat
*.sln
*.uproject
*.DS_Store
*.pdb
*.so
*.ini
*.bak
*.txt
*.exe
.svn
.vs
.vsconfig
Binaries
Config/
!Plugins/*/Source/**/Config
Plugins/AutoSizeComments/ASCCache
Content
DerivedDataCache
Intermediate
Saved
*.uplugin
*.png
Resources
Platforms
gen_temp.txt
*.md
/Test.txt
/Plugins/DarkerNodes/Shaders/*.usf
/Plugins/DarkerNodes/Shaders/lib/*.usf
/Plugins/ACLPlugin/LICENSE
/Font/*.ttf
/Shaders
/Build/Android/project.properties
/Plugins/Iliad/Shaders/Private/OdysseyMeshPaintShader.usf
/.idea
/Build/Android/KoKey.keystore
/Build/Android/google-services.json
/KoKey
*.usf
*.ush
/Build/Android/Xa.keystore
/Build/Android/gradle/app/google-services.json
/Icon/icon256.ico
/Build
/AssetPackManifest.txt
/GameProjectManifest.txt
/Packaged
/inifile.exe
/Version.txt
/Plugins/ZenMode/LICENSE
